TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Tahoma, sans-serif
}
FORM {
	MARGIN: 0px
}

A {
	COLOR: #1263ad
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}

input,textarea,select {

color : #000000;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
border:1px solid;
border-color : #000000;

}
.selects {
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
border:1px solid;
border-color : #000000;
width:170px 
}



.menu { FONT-SIZE: 12px; FONT-FAMILY: verdana; color: #000000; FONT-WEIGHT: bold
}

.topmenu {
	FONT-SIZE: 11px; COLOR: #123456; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
.topmenu:hover {
	COLOR: #ff0000
}
.topsmall {
	FONT-SIZE: 9px; COLOR: #1263ad; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
.tsmall {
	FONT-SIZE: 9px; COLOR: #CCCCCC; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
.A_black {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
.A_black:hover {
	COLOR: #1263ad
}
.A_white {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.A_white:hover {
	COLOR: #ffffff
}
.storytitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1263ad; FONT-FAMILY: arial, Verdana, Tahoma, Helvetica, sans-serif
}
.grey {
	FONT-SIZE: 12px; COLOR: #cccccc; FONT-FAMILY: arial, Verdana, Tahoma, Helvetica, sans-serif
}

A.grey:hover {
	FONT-SIZE: 12px; COLOR: #cccccc; FONT-FAMILY: arial, Verdana, Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.grey:link {
	FONT-SIZE: 12px; COLOR: #cccccc; FONT-FAMILY: arial, Verdana, Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.grey:active {
	FONT-SIZE: 12px; COLOR: #cccccc; FONT-FAMILY: arial, Verdana, Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.grey:visited {
	FONT-SIZE: 12px; COLOR: #cccccc; FONT-FAMILY: arial, Verdana, Tahoma, Helvetica, sans-serif; TEXT-DECORATION: none
}

.code {
        FONT-SIZE: 9px; COLOR: blue; FONT-FAMILY: Verdana, Tahoma, Helvetica, sans-serif
}
.codes {
	font-family: Arial, Courier New; font-size: 12px; color: #000099;  letter-spacing: 2;
	background-color: #F7F7F7;
} 
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #1263ad; FONT-FAMILY: arial, Verdana, Tahoma, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1263ad; FONT-FAMILY: arial, Verdana, Tahoma, Helvetica, sans-serif
}
/*
     FILE ARCHIVED ON 04:01:50 Dec 18, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:52:38 Apr 24, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 47.969 (3)
  esindex: 0.006
  captures_list: 70.051
  CDXLines.iter: 15.914 (3)
  PetaboxLoader3.datanode: 100.251 (4)
  exclusion.robots: 0.129
  exclusion.robots.policy: 0.121
  RedisCDXSource: 1.63
  PetaboxLoader3.resolve: 17.948
  load_resource: 80.834
*/